* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: darkblue;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.about-me,
.hobbies {
  padding-left: 20px;
  padding-right: 20px;
}
.about-me h2,
.hobbies h2 {
  margin-bottom: 10px;
}

.about-me p {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 1.2em;
}
.hobbies p {
  text-align: justify;
  font-size: 1.2em;
}
